<%
var getFormatedTimeLabel = function(step) {
  var mins = start + (slotSize * step);
  var h = Math.floor(mins / 60);
  mins %= 60;
  if (mins < 10) {
    mins = "0" + mins;
  }
  if (h < 10) {
    h = "0" + h;
  }
  return h + ":" + mins;
};

%>
<div id="leftOverview">
  <ul class="nav nav-pills nav-stacked">  
  <% for (var i = 1; i <= days; i++) {
    if(active_day === i) {%>
    <li class="active">
    <%} else {%>
    <li>
    <%}%>
        <a id="day_<%=i%>" class="day">Day <%=i%></a>
    </li>
  <% } %>
</div>

<div id="midOverview">
  <% for (var d = 1; d <= days; d++) {
    if (d === active_day) {%>
    <table class="table table-bordered text-center" id="table_<%=d%>">
    <%} else {%>
    <table class="table table-bordered text-center" id="table_<%=d%>" style="display:none">
    <%}%>
      <thead>
        <th>Time</th>
        <%for(var i = 1; i <= tracks; i++) {%>
          <th>Track <%=i%></th>
        <%}%>
      </thead>
      <tbody>
        <%for(var row = 0; row < slots; row++) {%>
          <tr id="<%=row %>">
            <td><%=getFormatedTimeLabel(row)%></td>
            <%for(var t = 0; t < tracks; t++) {%>
              <td id="<%=d + "_" + row + "_" + t%>" class="slot"></td>
            <%}%>
          </tr>
        <%}%>
      </tbody>
    </table>
  <% } %>
<!--
  
  <table id="planTable">
    <thead>
      <th>Time</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  
  <ul id="sortable1" class="droptrue sortable">
    Track 1
    <button id="newTrack" class="newTrack">Add track</button>
    <li class="ui-state-default">Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
  </ul>
-->
</div>

<div id="rightOverview">
  <ul id="availableTalks" class="droptrue sortable">
    Talks
  </ul>
</div>
