<div id="<%=talk.get("_key")%>" class="talk talk-<%=talk.get("Category_key")%>" style="height:<%=height * 37 - 20 %>px;">
  <span><%=talk.get("Title")%></span><br />
  <span><%=talk.get("Speaker")%></span><br />
  <span><%=talk.get("Category")%></span><br />
  <span class="badge"><%=talk.get("Level")%></span><br />
</div>